.price-compare__item--bot,
.faq__item--bot
{
    height: 0;
}

.price-compare__top
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
}

.faq__icon--line.is--ab.open
{
    transform: translate(-50%, -50%) rotate(0deg) !important;
}

.price-compare__top--parent
{
    pointer-events: none;
}