.automatically__tabs-menu
{
    position: relative;
    width: 100%;
}

.automatically__tabs-link
{
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.automatically__tabs-link.w--current
{
    opacity: 1;
}

.automatically__tabs-link:first-child
{
    position: relative;
    pointer-events: none;
}