.tabs__link .tabs__descr,
.tabs__link .tabs__item-bg
{
    transition: opacity 0.3s ease;
    opacity: 0; 
    display: none;
}

.w--current.tabs__link .tabs__descr,
.w--current.tabs__link .tabs__item-bg
{
    opacity: 1;
    display: block;
}

@media screen and (min-width: 991px) 
{
    .tabs__link .tabs__item-bg,
    .tabs-item .tabs__item-bg:nth-child(n + 2)
    {
        display: none !important; 
    }

    .tabs-item .tabs__item-bg:first-child
    {
        display: block;
    }
}

@media screen and (max-width: 991px) 
{
    .tabs__items
    {
        display: none;
    }

    .tabs__link .tabs__item-bg:nth-child(n + 3)
    {
        display: none !important; 
    }

    .tabs__link .tabs__item-bg:first-child
    {
        display: block !important;
    }

    .tabs__link.w--current
    {
        border-color: #3be082;
    }

    .tabs__link.w--current .tabs__item-bg 
    {
        margin-top: 3.13em;
    }
}



